#include "resource.h"
#include <windows.h>

ID_MENU_TRAY MENU 
BEGIN
  POPUP "menu"
  BEGIN
    MENUITEM "&Pause", ID_MENU_PAUSE
    MENUITEM SEPARATOR
    MENUITEM "&Log...", ID_MENU_LOG
    MENUITEM SEPARATOR
    MENUITEM "E&xit", ID_MENU_EXIT
  END
END

ID_DLG_LOG DIALOG 0, 0, 300, 400
 STYLE WS_POPUP | WS_OVERLAPPEDWINDOW | DS_SHELLFONT
 CAPTION "mouse-processor - Log"
 FONT 9, "MS Shell Dlg"
BEGIN
  DEFPUSHBUTTON "&Close", IDOK, 247, 381, 50, 15
  EDITTEXT ID_EDIT_LOG, 0, 0, 300, 378,
           WS_HSCROLL | WS_VSCROLL | WS_TABSTOP |
           ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL |
           ES_NOHIDESEL |ES_READONLY
  PUSHBUTTON "C&lear", ID_BTN_LOG_CLEAR, 3, 381, 50, 15
  AUTOCHECKBOX "Show &Detail", ID_CHK_LOG_DETAIL, 167, 381, 80, 15
END

STRINGTABLE
BEGIN
  ID_STR_LOG_EDIT_FONT "MS Gothic"
END

ID_ICON_TRAY ICON icon.ico
