/* -*- mode: c; coding: euc-jp -*- */
/*
 * style of manual
 *
 * $Id: manual.css,v 1.5 2005/01/29 20:28:53 hos Exp $
 *
 */

code {
  color: rgb(128, 32, 32);
  font-size: 90%;
  font-style: normal;
  font-family: monospace;
}

dl.ref {
  margin: 0.2em 2.0em 0.2em 2.0em;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

dl.ref dt {
  background: rgb(225, 240, 240);
  color: rgb(0, 0, 0);
  font-weight: normal;
}

dl.subitem dt {
  background: transparent;
}

dl.subitem dd {
  margin: 0.2em 0.2em 0.3em 2.0em;
}

.refp {
  margin: 0.2em 2.0em 1.5em 2.5em;
  padding: 0.7em 0.7em 0.7em 0.7em;
  border: dotted thick rgb(193, 205, 193);
}

.refp dl.ref {
  margin: 0.2em 0.2em 0.2em 0.2em;
}

.subref {
  margin: 0.5em 0.0em 2.5em 0.0em;
  padding: 0.7em 0.7em 0.7em 0.7em;
  border: dotted thick rgb(193, 205, 193);
}

.var {
  font-style: oblique;
}

.omit {
  color: rgb(160, 160, 160);
}

.fname {
  font: 90% monospace;
  color: rgb(0, 0, 255);
}

.env {
  font: 90% monospace;
  color: rgb(160, 32, 240);
}

.ex {
  margin: 0.5em 0.2em 1.0em 0.3em;
  padding: 0.3em 0.3em 0.3em 0.5em;
  background: rgb(230, 255, 230);
  border: dotted thin rgb(193, 205, 193);
}

.ex pre {
  margin: 0.2em 1.0em 0.2em 1.5em;
}
